[Unit]
Description=Desktop Mode (KDE Plasma)
Documentation=man:systemd.special(7)
Conflicts=kodi-mode.target gaming-mode.target
After=multi-user.target display-ready.service
Wants=sddm.service

[Install]
WantedBy=graphical.target
