[Unit]
Description=Prepare Display for Session
Before=kodi-mode.target gaming-mode.target
After=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/prepare-display
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=kodi-mode.target gaming-mode.target
