[Unit]
Description=Kodi Mode
Conflicts=gamemode.target
After=multi-user.target display-ready.service
Wants=kodi-gbm.service
Wants=network-online.target
AllowIsolate=yes

[Install]
WantedBy=graphical.target
