[Unit]
Description=Kodi Mode
Conflicts=gaming-mode.target
After=multi-user.target display-ready.service
Wants=kodi-gbm.service
Wants=network-online.target

[Install]
WantedBy=graphical.target
