[Unit]
Description=Monitor Steam Return to Desktop
PartOf=gaming-mode.target
After=gaming-mode.target

[Service]
Type=simple
ExecStart=/usr/bin/steam-desktop-return-handler
Restart=always
User=root

[Install]
WantedBy=gaming-mode.target
